<div class="data-object">
  <p>
    <strong>Добавить самолет</strong>
  </p>

  <%= render 'form', aircraft: @aircraft %>
</div>

<div class="action-object">
  <%= link_to 'Назад', aircrafts_path %>
</div>