<div class="data-object">
  <p>
    <strong>Редактировать билет</strong>
  </p>

  <%= render 'form', ticket: @ticket %>
</div>

<div class="action-object">
  <%= link_to 'Назад', tickets_path %>
</div>
