<div class="data-object">
  <p>
    <strong>Редактировать аэропорт</strong>
  </p>

  <%= render 'form', airport: @airport %>
</div>

<div class="action-object">
  <%= link_to 'Назад', airports_path %>
</div>

