<div class="data-object">
  <p>
    <strong>Редактировать маршрут</strong>
  </p>

  <%= render 'form', route: @route %>
</div>

<div class="action-object">
  <%= link_to 'Назад', routes_path %>
</div>


